<% provide(:title, "About") %>


            <h1>About</h1>
            <p>
            The Ruby on Rails Tutorial is a book and screen cast series 
            designed to teach web development with ruby on rails. 
            This is the sample application for the tutorial.
            </p>
       